<!DOCTYPE html>
<html lang="pt-br"> <!-- xmlns:th="http://www.thymeleaf.org"> -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Java Web</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-content">
                <div class="menu">
                    <h3>Agenda <span class="cor-java">Java Web</span></h3>
                
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/cadastro">Cadastro</a></li>
                        <li><a href="/contato">Contato</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="corpo">
            <h1>Bem-vindo(a) visitante</h1>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum tenetur temporibus pariatur, id modi incidunt minus facilis veniam quibusdam alias architecto nobis soluta voluptas corrupti illo autem. Officiis, quod tempore?
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam perferendis nam voluptas magni, quam placeat accusantium excepturi sequi quisquam quod mollitia ab soluta sed possimus hic laudantium ipsa, cumque repellat nisi in fuga dolorum modi adipisci aliquid? Corrupti explicabo deleniti qui quis odio, quam, nulla laudantium temporibus quasi nisi sequi.
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae sed veritatis est nam ullam quae vel reiciendis a recusandae aspernatur cum placeat, reprehenderit cupiditate magnam optio quibusdam dolore odio, libero illo maxime deleniti? Necessitatibus doloremque similique impedit aspernatur distinctio ipsa sit exercitationem incidunt quo voluptatum alias vel voluptate assumenda magni earum autem, fuga dolores quas magnam eveniet maxime! Impedit delectus illum repellendus nam laudantium, numquam ducimus deserunt nihil amet. Itaque deserunt at, minima magni eaque, laudantium eligendi officia aut nobis voluptatem autem maxime ea alias consequuntur iure vel aperiam reprehenderit vitae optio incidunt quisquam quod. Doloremque facilis consequatur enim perferendis!
            </p>

            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem saepe cupiditate accusamus officia vero commodi.
            </p>
        </div>

        <div class="rodape">
            <div class="rodape-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt explicabo accusantium earum nemo, iste aut ratione est dolor, temporibus consequuntur perferendis blanditiis tenetur eveniet provident itaque quidem qui deleniti molestias! Necessitatibus, odio ad enim ab alias in maxime quaerat obcaecati, porro eum sapiente cum odit accusamus, nam laborum molestiae totam qui assumenda amet pariatur voluptate. Velit accusantium reprehenderit accusamus facilis incidunt eum neque voluptatum a suscipit sunt, dignissimos quos iste et veritatis fugiat earum, totam ad voluptate, quibusdam tempora fuga porro enim. In odit quas, pariatur, nostrum explicabo consectetur tenetur dignissimos adipisci blanditiis vero quibusdam ipsum tempore minus, nesciunt ea.
            </div>
        </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>