<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java Web com Spring Boot</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <main>
        <h3>Contato</h3>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, recusandae commodi! Excepturi sapiente quibusdam nobis, architecto corrupti maiores consectetur ex voluptatum nesciunt! At, illum. Molestias quod eligendi, facere, vero impedit, officia sint ea commodi recusandae accusamus totam aliquid aspernatur! Doloribus inventore quibusdam veniam porro quis rem excepturi nobis maxime aspernatur quaerat, architecto distinctio sed esse voluptatibus. Cum tenetur minus cupiditate dicta. Corporis temporibus sapiente recusandae, voluptatibus sint cupiditate officiis quos qui labore voluptates consectetur, ex magnam! Delectus ad error eaque doloribus necessitatibus praesentium tempore impedit suscipit ex dolor illo, optio culpa deserunt, vero voluptatibus? Assumenda necessitatibus laboriosam fuga magni ipsa.
        </p>

        <p>
            <a href="/">Home</a>
            <a href="/sobre">Sobre</a>
            <a href="/contato">Contato</a>
        </p>
    </main>
</body>

</html>