<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java Web com Spring Boot</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        <h3>Java Web com Spring Boot</h3>
    
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt eos, aut amet sint quia aperiam minima odio labore tempore nulla et officiis sapiente numquam, eveniet minus maxime iusto? Reprehenderit, vel.
        </p>
    
        <p>
            <a href="/">Home</a>
            <a href="/sobre">Sobre</a>
            <a href="/contato">Contato</a>
        </p>

        <h3 th:text="${mensagem}">Texto</h3>
    </main>

    <script src="js/script.js"></script>
</body>
</html>