<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java Web com Spring Boot</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <main>
        <h3>Quem somos</h3>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam eveniet aut, saepe voluptatum odit
            quisquam ipsum impedit cupiditate rem obcaecati vitae iure autem, aliquid esse veritatis earum aliquam sunt
            libero.
        </p>

        <p>
            <a href="/">Home</a>
            <a href="/sobre">Sobre</a>
            <a href="/contato">Contato</a>
        </p>
    </main>
</body>

</html>